# $comment

#foreach( $apiAction in $apiActions)

---
# $apiAction.title
> $apiAction.comment

#if($uris.size() > 0)
地址: $uris.get(0)/$apiAction.uris.get(0)
#else
地址: $apiAction.uris.get(0)
#end
#if($apiAction.methods.size() > 0)
支持方式: $apiAction.methods
#else
支持方式: 所有
#end

**参数:**

参数名|描述|是否必填
-----|------|------
#foreach($p in $apiAction.param)
$p.paramName|$p.paramDesc|$p.require
#end

**返回:**
$apiAction.returnDesc

参数名|类型|描述
-----|------|------
#foreach($field in $apiAction.returnObj.fieldInfos)
$field.name|$field.simpleTypeName|$field.comment
#end
#if($apiAction.respbody)
返回：
```json
$apiAction.respbody
```
#end
#end