<?xml version="1.0"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.leaf" level="debug" additivity="true"/>
    <logger name="org.treeleaf" level="debug" additivity="true"/>
    <logger name="org.treeleaf.web.spring.resovler" level="warn" additivity="true"/>

    <root level="warn">
        <appender-ref ref="console"/>
    </root>

</configuration>